/********************************************************/
/***UNIVERSAL*/
/********************************************************/


section {
  /*border: 1px solid red;*/
}

div {
  /*border: 1px solid blue;*/
  border-top: 5px solid grey;
}



/********************************************************/
/***HEADER TITLE*/
/********************************************************/

#headshot {
  border-radius: 100%;
  display: block;
  margin: 1em auto;
  width: 40%;
}

.header-title h1 {
  margin: auto;
  display: inline;
  /*border: 1px solid black;*/
}

.header-div {
  text-align: center;
  padding: .5em;
  }

.header-div span {
  padding: 1.5em;
}

.header-title {
  display: block;
  position: relative;
  text-align: center;
}

/********************************************************/
/***NAV*/
/********************************************************/

nav {

    /*border: 1px solid green;*/

}

nav > ul {
     text-align: center;
     display: none;
}

nav > ul > li {
  display: none;

}

.hamburger-menu img {
  width: 24px;
  display: none;
}

/********************************************************/
/***TOP SECTION*/
/********************************************************/

.top-section {
  height: 200px;
  overflow: hidden;
}


.container {
}

.container > div > h2 {
  text-align: center;
}

.container > div {
  height: 300px;
  margin: 20px;
  text-align: justify;
}

.flow-left {

}

.flow-center {

}

.flow-right {

}
/********************************************************/
/***ABOUT SKILLS LIST*/
/********************************************************/

.skills-header {
  display: block;
  /*border: solid red;*/
}

.first-about > ul {
}

.first-about > ul > li {
  list-style-type: none;
}
/********************************************************/
/***ABOUT DIVS*/
/********************************************************/

.about-section > div > h2 {
  text-align: center;
}

.about-section > div > p {
  text-align: justify;
  margin: 20px
}

#project-div h2 {
  /*border-top: 5px solid pink;*/
  text-align: center;
}

#project-div  {
text-align: center;
}

#project-div img{
width: 100%;
}
/********************************************************/
/***FOOTER*/
/********************************************************/

footer {
  /*border: 1px solid green;*/
  bottom: 0px;
  text-align: left;
  width: 100%;
}

.footer-stuff {
}

.footer-img{
  left: 1%;
  bottom: 0px;
  float: right;
}
